.about-me-section{
    margin: 200px 0;
}
.j_stadler-picture{
    display: flex;
    justify-content: center;
}
.j_stadler-picture img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 40% 30px;
    box-shadow: 0 0 260px rgba(0, 0, 0, 0.605);
}
.about-me-txt{ /*seção de informações sobre*/
    width: 600px;
    max-width: 90vw;
    color: var(--Cinza_claro);
}
.about-me-txt h1{ /*Titulo da seção*/
    font-weight: bolder;
    color: var(--Azul_principal);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.192);
    color: var(--Cinza_escuro);
}

/* Opções de responsividade */

@media (max-width:1050px) {
    .about-me-section{
        flex-direction: column-reverse;
        margin: 100px 0;
    }
    .about-title{
        display: block;
    }
    .j_stadler-picture{
        align-self: flex-end;
    }
    .j_stadler-picture img{
        width: 700px;
        max-width: 90%;
    }
    .about-me-txt{
        align-self: flex-start;
        margin-left: 30px;
    }
}
@media (max-width:500px) {
    .about-me-txt p{
        font-size: smaller;
        font-weight: bolder;
    }
}