.main-page-footer{
    background-color: var(--Azul_escuro);
    padding: 30px 0;
    margin-top: 100px;
}
.nav-list-ft{
    gap: 20px;
    list-style: none;
}
.nav-link{
    color: var(--Cinza_claro);
    transition: .5s;
}
.nav-link:hover{
    color: #fff;
    transform: translateY(-1px);
}
.copyright{
    color: var(--Cinza_claro);
}

/* Opções de responsividade */
@media (max-width:600px) {
    .main-page-footer{
        flex-direction: column-reverse !important;
        gap: 40px;
    }
    .nav-list-ft{
        flex-direction: column;
    }
}