.navigation-menu{
    position: fixed;
    top: 30px;
    left: 10px;
    z-index: 3;
}
.btn-container{
    background-color: var(--Azul_secundario);
    padding: 10px 0;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.397);
    z-index: 3;
}
.btn-container>button{
    transition: .5s;
}
.open-menu-btn{
    height: 30px;
    width: 50px;
}
#bar1,#bar2,#bar3{
    width: 100%;
    height: 3.5px;
    background-color: #fff;
    transition: .5s;
    transform-origin: center;
}
.nav{
    transform-origin: left;
    transition: .5s;
    transform: scaleX(0);
    background-color: var(--Azul_secundario);
    border-radius: 0 10px 10px 0;
    padding: 5px 0;
}
.open-menu{
    transform: scaleX(1);
}
.activated-button{
    border-radius: 10px 0 0 10px;
}
.activated-button>button{
    animation: Spin .5s linear;
    transform: translateX(10PX);
}
.activated-button #bar1{
    transform: rotate(45deg)translateY(9px);
}
.activated-button #bar2{
    opacity: 0;
}
.activated-button #bar3{
    transform: rotate(-45deg)translateY(-9px);
}
@keyframes Spin {
   from{
    transform: rotate(0);
   }to{
    transform: rotate(360deg)translateX(10px);;
   }
}
.nav-list{
    list-style: none;
}
.nav-link{
    color: var(--Cinza_claro);
    transition: .5s;
}
.nav-link:hover{
    color: #fff;
    transform: translateY(-1px);
}

/* Opções de responsividade */

@media (max-width:600px) {
    .nav{
        padding: 15px 5px;
    }
    .nav-list{
        gap: 20px;
    }
    .nav-link{
        font-size: small;
        padding: 0;
    }
}