.presentation{
    background-image: url(../../../public/images/background_apresentação.jpg);
    background-size: cover;
    background-position: center top;
    justify-content: space-around;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 900px;
}
.hello p{
    font-size: xx-large;
    color: black;
    font-family: 'Archivo Black';
    text-indent: 25px;
}
.hello h1{
    font-size: 7rem;
    font-family: 'Anton';
    color: var(--Azul_principal);
    line-height: 100px;
    text-wrap: wrap;
}
.ocupation{
    text-indent: 0 !important;
    font-size: 3rem !important;
    line-height: 50px;
}
.technology{
    width: 400px;
    filter: drop-shadow(5 5 10px #00000079);
    animation: Float 3s linear infinite;
}

@keyframes Float {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-5px);
    }
}

/* Opções de responsividade */

@media (max-width:1050px) {
    .technology{
        width: 300px;
    }
}
@media (max-width:950px) {
    .hello p{
        font-size: xx-large;
        line-height: 90px;
        text-shadow: 0 0 10px rgb(255, 254, 254);
    }
    .hello h1{
        font-size: 5rem;
        line-height: 30px;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.493);
    }
    .ocupation{
        font-size: xx-large !important;
    }
}
@media (max-width:750px) {
    .presentation{
        background-image: url(../../../public/images/bg-apresentação-mobile.jpg);
        background-position: center center;
        flex-direction: column;
        justify-content: center;
    }
    .hello{
        z-index: 2;
        text-wrap: nowrap;
        align-self: flex-start;
        margin-left: 10%;
    }
    .technology{
        width: 250px;
        position: absolute;
        left: 50%;
        filter: grayscale(20%);
    }
}
@media (max-width:500px) {
    .hello h1{
        font-size: 4rem;
        line-height: 60px;
    }
    .hello p{
        font-size: medium;
        line-height: 40px;
        text-indent: 0;
    }
    .technology{
        left: 50%;
        width: 150px;
    }
}