.projects-section{
    background-color: var(--Azul_escuro);
    padding: 100px;
    border-radius: 30% 0;
    margin: 50px 0;
}
.projects-section h1{
    text-align: center;
    color: #fff;
    font-family: 'Archivo Black';
    margin-bottom: 40px;
}
.projects-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    column-gap: 20px;
}
.project{
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
}
.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.info{
    transition: .2s;
    transform: scaleY(0);
    transform-origin: top;
    background-color: rgba(0, 0, 0, 0.886);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}
.project:hover .info{
    transform: scaleY(1);
}
.project-name{
    font-family: 'Anton','Archivo Black',Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: larger;
    margin-top: 10px;
}
.technologies{
    color: aliceblue;
    font-size: smaller;
}
.projects-section main{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    place-content: center;
    grid-template-columns: repeat(3,30%);
    row-gap: 40px;
}

/* Janela de informações do produto */

.project-info{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0);
    width: 100vw;
    height: 100vh;
    padding: 30px;
    text-align: center;
    transition: .3s;
    background-color: var(--Azul_escuro);
    z-index: 3;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.451);
    display: grid;
    grid-template-rows: 50% 10%;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: center;
    place-content: center;
}
.project-info>h1{ /*Nome do projeto*/
    grid-row: 2;
    grid-column: 1;
}
.project-description{
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
    font-size: small;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-start;
    font-size: larger;
    padding: 0 !important;
}
.project-info img{
    height: 100%;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1;
}
.open{
    transform: translate(-50%,-50%)scale(1);
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 30px 0;
    gap: 10px;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 2;
}
.project-repository-link,.project-link{
    color: #fff;
    text-decoration: none;
    background-color: var(--Azul_claro);
    width: 200px;
    padding: 15px 0;
    border-radius: 5px;
    font-weight: bolder;
    transition: .5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.272);
}
.close-window{
    background: none;
    border: none;
    color: #fff;
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    right: 30px;
}
.project-repository-link:hover,.project-link:hover{
    color: var(--Azul_principal);
    background-color: #fff;
}

/* Adaptação responsiva */

@media (max-width:1150px) {
    .projects-container{
        grid-template-columns: 45% 45% !important;
    }
}
@media (max-width:850px) {
    .project{
        width: 200px;
        height: 100px;
    }
    .project:hover .info{
        display: none;
    }
}
@media (max-width:620px) {
    .projects-container{
        display: flex !important;
        flex-direction: column;
    }
    .project{
        width: 250px;
        height: 15,0px;
    }
}
@media (max-width:620px) {
    .projects-container{
        display: flex !important;
        flex-direction: column;
    }
    .project{
        width: 250px;
        height: 15,0px;
    }
}