.projects-section{
    background-color: var(--Azul_escuro);
    padding: 100px;
    border-radius: 30% 0;
    margin: 50px 0;
}
.projects-section h1{
    text-align: center;
    color: #fff;
    font-family: 'Archivo Black';
    margin-bottom: 40px;
}
.projects-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    column-gap: 20px;
}
.project{
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
}
.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: brightness(0.7);
}
.info{
    transition: .2s;
    transform: scaleY(0);
    transform-origin: top;
    background-color: rgba(0, 0, 0, 0.886);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}
.project:hover .info{
    transform: scaleY(1);
}
.project-name{
    font-family: 'Anton','Archivo Black',Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: larger;
    margin-top: 10px;
}
.technologies{
    color: aliceblue;
    font-size: smaller;
}
.projects-section main{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    place-content: center;
    grid-template-columns: repeat(3,30%);
    row-gap: 40px;
}

/* Janela de informações do Projeto */

.project-info{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(0);
    width: 100vw;
    height: 100vh;
    padding: 30px;
    text-align: center;
    transition: .3s;
    background: url(../../../public/images/background_noite_estrelada.png);
    z-index: 3;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.451);
    display: grid;
    grid-template-rows: 50% 20%;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: center;
    place-content: center;
}
.project-picture{
    grid-row: 1/3;
    grid-column: 1;
    max-width: 90%;
    align-self: flex-start;
    border-radius: 10px;
}
.project-picture img{
    width: 100%;
    border-radius: 10px;
}
.project-picture>h1{
    padding: 10px 0;
}
.project-description{
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
    font-size: small;
    grid-column: 2;
    grid-row: 1;
    font-size: larger;
    padding: 0 !important;
    text-align: justify;
}
.open{
    transform: translate(-50%,-50%)scale(1);
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 30px 0;
    gap: 10px;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 2;
}
.project-repository-link,.project-link{ /*Links de acesso ao projeto*/
    color: #fff;
    text-decoration: none;
    box-shadow: 0 30px 20px var(--Azul_claro);
    background: linear-gradient(40deg,var(--Azul_claro),var(--Azul_escuro));
    width: 200px;
    padding: 15px 0;
    border-radius: 5px;
    font-weight: bolder;
    transition: .5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.272);
}
.project-repository-link:hover,.project-link:hover{
    transform: translateY(-5px);
}
.close-window{
    background: none;
    border: none;
    color: #fff;
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    right: 30px;
}
/* Adaptação responsiva */

@media (max-width:1150px) {
    .projects-container{
        grid-template-columns: repeat(2,auto) !important;
    }
}
@media (max-width:850px) {
    .projects-section{
        border-radius: 0;
        background: linear-gradient(var(--Azul_principal),var(--Azul_escuro) 90%,var(--Azul_principal));
    }
    .project{
        width: 200px;
        height: 100px;
    }
    .project:hover .info{
        display: none;
    }
    .project{
        width: 180px;
        height: 90px;
        border-radius: 5px;
    }
}
@media (max-width:420px) {
    .projects-container{
        display: flex !important;
        flex-direction: column;
    }
}
@media (max-width:1000px) {
    .project-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        /* padding-top: 100px; */
    }
    .project-picture{
        width: 500px;
        max-width: 90%;
        align-self: center;
        margin-top: 100px;
    }
    .links{
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width:400px) {
    .project-description{
        font-size: small;
    }
    .project-picture>h1{
        font-size: medium;
    }
}