.skills-section{
    background-color: var(--Azul_escuro);
    padding: 50px 0;
    border-radius: 30% 0;
    text-align: center;
    margin: 100px 0;
}
.skills-section h1{
    font-weight: bolder;
    font-family: 'Archivo Black',Arial, Helvetica, sans-serif;
    color: #fff;
}
.my-skills{
    margin: 50px auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    place-content: center;
    gap: 30px;
    justify-items: center;
}
.skill{
    text-align: center;
    border-radius: 0 20px 0 0;
    border: solid 1px var(--Azul_claro);
    border-top: none;
    border-right: none;
    width: 200px;
    padding: 15px 0;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.587);
    font-family: "Archivo Black", Arial, Helvetica, sans-serif;
    background-color: var(--Azul_secundario);
}

@media (max-width:1000px) {
    .skills-section{
        background: linear-gradient(var(--Azul_principal),var(--Azul_escuro) 90%,var(--Azul_principal));
        border-radius: 0 !important;
    }
    .my-skills{
        grid-template-columns: repeat(3,auto);
    }
    .skill{
        font-size: small;
        width: 150px;
    }
}
@media (max-width:750px) {
    .my-skills{
        grid-template-columns: repeat(2,auto);
    }
}
@media (max-width:390px) {
    .skills-section{
        padding: 150px 0;
        border-radius: 200px 0;
    }
    .skill p{
        font-size: small;
    }
    .skill{
        width: 100px;
        height: 110px;
    }
}