@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}
body{
  background-color: var(--Cinza_claro);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --Azul_principal: #004aad;
  --Azul_secundario: #155bb8;
  --Azul_escuro: #022759;
  --Azul_claro: #3e88e8;
  --Cinza_claro: #d9d9d9;
  --Skill_basica: #A3E635;
  --Skill_intermediaria: #FACC15 ;
  --Skill_avancada: #f91616 ;
}